.r-content-hide {
    opacity: 0;
}

.r-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    padding: 50px 10px;
    min-width: 70vw;
    min-height: 60vh;
    border-radius: 15px;
    
    form {
        min-width: 40vw;

        div {
            margin: 20px;
        }
        button {
            margin: 10px 20px;
        }

        .row {
            margin: 0;
            padding: 0;
        }
        .col {
            margin: 0;
            padding: 0;
        }
    }
}

.alert {
    margin: 15px;
    width: 50%;
    text-align: center;
}