export const BASE_API = "";
export const BASE_AUTH = "";
export const SITE_URL = "";
export const SITE_URL_SHORT = "";
export const SCHOOL_NAME = "";
export const SCHOOL_LOGO = '';
export const SCHOOL_FOOTER_TEXT = ``;
export const SCHOOL_FOOTER_LINKS = [
    { name: '', href: '' },
];